@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 35px;
  }

  &__list-link {

    text-transform: uppercase;
    color: $title-color;
    padding: 0 2px 2px;
    transition: all .3s linear;
    @extend %roboto-400;

    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }


  }

  &__list-link--active {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  gap: 25px;

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    top: -9px;
    right: -13px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #fff;
  }
}
.top-slider {
  background-color: $bg-color;
  padding-top: 60px;
  padding-bottom: 40px;
  &__container{
    max-width: 1400px; 
    background: url('../images/top-slider-bg.png') 0% 0%/contain no-repeat;
  }
  &__content{
    padding-left: 95px;
    padding-top: 125px;
    
  }
  &__item{
    display: flex;
    justify-content: space-between;
  }
  &__title {
    max-width: 670px;
    font-size: 58px;
    line-height: 68px;
    @extend %roboto-700;
    color: $title-color;
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }

  &__link {
   @extend %btn;  
   padding: 14px 36px;

  }
  .slick-dots{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: -70px;
    li{
      button{
        padding: 0;
        font-size: 0;
        background: transparent;
        width: 26px;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition: all .8s;
        &::before{
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default-color;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all .8s;
        }
      }
      &.slick-active{ 
        button{
          border: 1px solid $accent-color;
          &::before{
            background-color: $accent-color;
        }
      }
    }
  }
}
}
.footer {
  background-color: $bg-color;
  margin-top: auto;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    width: 250px;
    margin-right: 50px;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 460px;
  }

  &__logo {
    display: block;
    margin-bottom: 33px;
  }

  &__address,
  &__email,
  &__phone {
    margin-bottom: 10px;
    display: block;
  }

  &__social {
    @at-root {
      ul#{&} {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-top: 30px;
      }
    }
  }

  &__social-link {
    path {
      fill: $default-color;
      transition: fill .3s linear;
    }

    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }

  &__title {
    @extend %roboto-400;
    color: $title-color;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form-input {
    max-width: 320px;
    background-color: #fff;
    width: 100%;
    border: none;
    padding: 14px 12px;

    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default-color;
    }
  }

  &__form-btn {
    @extend %btn;
    border: none;
    padding: 14px 18px;
    margin-left: 5px;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__accept {
    display: flex;
    gap: 25px;
  }
}



@import 'media';