.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}
.logo__img{
  position: relative;
  z-index: 10;
}
.menu {
  &__list {
    display: flex;
    gap: 35px;
  }

  &__btn {
    display: none;
  }

  &__list-link {

    text-transform: uppercase;
    color: $title-color;
    padding: 0 2px 2px;
    transition: all .3s linear;
    @extend %roboto-400;

    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }


  }

  &__list-link--active {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  gap: 25px;
  position: relative;
  z-index: 10;
  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    top: -9px;
    right: -13px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #fff;
  }
}

@media(max-width: 1200px) {
  .header {
    &__inner {
      padding-right: 10px;
    }
  }
}

@media(max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;

    ul.menu__list {
      position: absolute;
      top: 0;
      padding-top: 110px;
      padding-bottom: 20px;
      gap: 20px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transform: translateY(-200%);
      transition: all .3s;
      background-color: #00000090;
      color: white;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .3s;
      }
    }
    &__list-link{
      color: inherit;
    }
    &__btn {
      width: 30px;
      height: 22px;
      padding: 0;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;
      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $title-color;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title-color;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  .user-nav {
    margin-left: auto;
  }
}

@media(max-width: 500px) {
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-right: 0;
    }
    ul.menu__list{
      padding-top: 145px;
    }
  }

  .menu {
    order: 0;
  }
  .user-nav {
    width: 100%;
    margin-top: 35px;
    padding-right: 13px;
  }
}