.partners {
  padding-top: 70px;

  &__list {
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media(max-width: 1200px) {
  .partners {
    &__list {
      height: auto;
    }
  }
}

@media(max-width: 620px) {
  .partners {
    &__list{
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }
}